
<html>
    <head>
    <!--linking required bootstrap, jquery, Ajax-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--Javascript code for selection for multiselect button-->
    <script type="text/javascript">
        $(document).ready(function() {
          $('.select2').select2({
          closeOnSelect: false
          });
          });
        </script>
        <!--Styling for background, display, font-size and Modals for replies-->
        <style>
          
          div{
              background-color: white;
              
          }
          .modal-backdrop{
              display: none;
          }
    
          ::placeholder {
      color: red;
      font-size: 1.3em;
    }
    textarea{
      font-size : 1.3em;
    }
    
    input[type=submit]{
        color:green;
        padding:0.5em 2.2em;
    }     
    .modal-backdrop {
       background: none;
    }
      </style>
    </head>
    <body>
    
         <div class="row" style="height:100vh;;border:1px solid;border-bottom:2px solid ;">
             <div id='menu'class="col-sm-2" style="height:inherit; border-right:4px solid;background-color:black;">
              <!--Dashboard Profile Imagee and Username display-->
                <div class="row" style="width:100%;height:30%;border:1px solid;margin:0px auto" >
                    <img src='/images/{{user.image}}' class="img-fluid" alt='' style=" border-radius: 50%;
                    height:80%;
                    border:3px solid white;">
    
                    <br/>
                   <center> <span style="font-size: 2em;">{{user.first_name}} </span>
                   </center>
                
                </div>
                <!--Dashboard fields styling-->

                <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/"><i class="fa fa-commenting" aria-hidden="true"></i> Discussions</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="" title="This score is calculated based on predefined formula based on upvotes and downvotes received on both questions and comments"><i class="fa fa-star" aria-hidden="true"></i> Score: {{user.score}}</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/findpeople"><i class="fa fa-users" aria-hidden="true"></i> Find people</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/notifications"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/saveditems"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved Items</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/updateprofile"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i> Update Profile</a></div>
              <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(250, 104, 104);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;" href="/logout">Logout</a></div>

    
           
             </div>
             <!--Filter questions Main page-->
             <div class="col-sm-10" style="height:auto;">
    
               <div class="row" style="margin:0px auto;width:90%;height:90%;overflow:scroll ;margin-top:40px ;background-color: white; box-shadow:0px 0px 5px 1px #971c1f ;" >
               <center><h3 style="margin:0px auto;padding:0.9em;color:#971c1f;font-size:32px;font-family:Comic Sans MS">SAMVADIKA </h3></center>
       <!--Selecting tags for filtered questions-->         
      <form method='POST' action='filter_questions'>
        {% csrf_token %}  
        <!--Multi drop down select list of Tags for each question-->
           <div class="form-group"> <label></label> <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Filter Question by tag" style="width: 50%;" tabindex="-1" aria-hidden="true" name="tag_filter_list" id="tag_filter_list" required>
            <option value="General">General</option>
            <option value="Hostel">Hostel</option>
            <option value="Study">Study</option>
            <option value="Sports">Sports</option>            
            <option value="Misc">Misc</option>
        </select> 
     
      <button type="sumbit" name="filter_multiple" class="btn btn-primary">Apply</button>
      <button type="sumbit" name="reset" class="btn btn-secondary">
        <a href="reset_filter_questions/" style="color:white">Reset</a>
      </button><br/>
    </form>
    <!--showing results of selected tags-->
          Results for Selected Tag(s): <i class="fa fa-tag" aria-hidden="true"></i>{{selected_tag_list}}
      <!--Results of filtered questions with styling-->
        {% for x in query %}

        <div  style="width:95%;margin:0px auto;background-color: #fffff7;">
  
    
          <div class="q" style="width:98%;height:2em;padding:.2em;background-color:rgb(227, 231, 233);">
            {% for tg in x.2 %}
            <i class="fa fa-tag" aria-hidden="true"></i><strong>[{{tg.tag_name}}]</strong>{% endfor %} Posted by {{ x.0.user_name}}  <span style="position: relative;float:right">{{ x.0.pub_date }} </span>
          </div>
          <div class="q" style="width:98%;height:auto;padding:1em;background-color:lightgoldenrodyellow;border-top:none;">
           {{x.0.question}}  
  
          </div>
        
        
    
      
      <!--Question setup i.e showing like, dislike, save option and replies--> 
      <div class="q" style="width:98%;height:auto;padding:.3em;background-color:lightgrey;border-top:none;">
      <button  class='btn btn-dark like-click' data-question = {{x.0.threadid}} >
        <strong> Like  &ensp; &ensp;(<font class="like-count-{{x.0.threadid}}" style="vertical-align: middle;">{{x.0.like_set.count}}</font>)</strong> </button>  
        <button  class='btn btn-dark dislike-click'  data-question = {{x.0.threadid}}>
        <strong > Dislike &ensp; &ensp;(<font class="dislike-count-{{x.0.threadid}}" style="vertical-align: middle;">{{x.0.dislike_set.count}}</font>)</strong> </button> 
          <button  class='btn btn-dark' id="save_{{x.0.threadid}}" onclick="myfunc('{{x.0.threadid}}')">Save Question</button> 
      <button type="button" class='btn btn-dark' data-backdrop='false' data-bs-toggle="modal" data-bs-target="#id_{{x.0.threadid}}" style="width: 10em;height:auto;">
        View Replies ({{x.3}})
      </button>
      <span style="float:right"><h5> <strong>Thread Id : {{x.0.threadid}}</strong> </h5>   </span>
      </div>
    
    </div>
    
  
    {% endfor %}
  
  
  
    <!-- Script for saving the selected question and changing color based on selection -->
    <script>
      function myfunc(x) {
  
        
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            
          if (this.responseText=="SUCCESS") {
            document.getElementById("save_"+x).innerHTML = "Saved"
            document.getElementById("save_"+x).style="background-color:red"
          }
  
          else{
            
            document.getElementById("save_"+x).innerHTML = "Save Question"
            document.getElementById("save_"+x).style="background-color:black"
          }
  
      
  
        }
        xhttp.open("GET", "saving?threadid="+x);
        xhttp.send();
      }
      </script>
  
  <!--Changing Save Question to Saved based on selection-->
  <script>
  
    function done(x)
    {
      document.getElementById("save_"+x).innerHTML = "Saved"
      document.getElementById("save_"+x).style="background-color:red"
    }
  
  </script>
  
  
  <!--Validating each threadid of question based on save-->
  {% for x in save %}
  
  <script>
    var b= '{{x.threadid.threadid}}';
  done(b);
  
    </script>
  
  
  
  
        {% endfor %}
      
    
    
    
    
           
    
               </div>
             </div>
    
             </div>
    
    
    
    
    
    
    
        <!--Loading Modal for each filtered questions-->
             {% for x in query %}
       
        <!--Modal -->
    
          <div class="modal fade" style="background-color: black;" id="id_{{x.0.threadid}}" role='dialog' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg"  >
              <div class="modal-content" >
                <!--Replies Modal Header-->
                <div class="modal-header">
                  <h5 class="modal-title"  id="exampleModalLabel"><span>Thread Id is : {{x.0.threadid}} </span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="overflow: scroll;">
    
                  <div style="width:100%;height:2em;padding:.2em;background-color:gold;border:2px solid;">
                    <!--showing all relevant tags of each question in modal-->
                    {% for tg in x.2 %}
                    <strong> [{{tg.tag_name}}]</strong>{% endfor %} Posted by {{ x.0.user_name}}  <span style="position: relative;float:right">{{ x.0.pub_date }} </span>
                  </div>
                  <div style="width:100%;height:auto;padding:1em;background-color:lightgoldenrodyellow;border:2px solid;border-top:none;">
                     {{x.0.question}} 
                     </div>
                     <form method="post" action="/answer/"><br/>
                      {% csrf_token %}
                     <!--Textbox to add replies for corresponding question-->
                      <textarea name="ans" placeholder="Do you wanna answer, {{user}}..." required style="width:100%;padding:0.4em;height:5em;"></textarea>
                      <br/> 
                      <input type="hidden" name="threadid" value="{{x.0.threadid}}" />
                      <input type="submit" style="margin-top:.3em"  style="position:relative;float:right;" value="Answer"/>
                  </form>
                  
                   
                      {% if x.1 is not '' %}
                      <!--showing all replies in last updated or recent of selected question-->
                      {% for y in x.1 reversed %}
    
                      <div style="width:100%;height:2em;padding:.2em;background-color:bisque;margin-top:1em;">
                        Replied by {{ y.user_name}}  <span style="position: relative;float:right">{{y.reply_date}} </span>
                      </div>
                      <div class = "reply" style="width:100%;height:auto;padding:1em;background-color:lightgrey;justify-content: space-between;display: flex;">                                           
                      <span> {{y.reply}} </span>
                      <div style="flex-direction: row; display: flex; background-color: transparent;">
                      <!--Replies Upvote Styling-->
                        <div class = "upvote" style="background-color:transparent; display: flex; flex-direction: column-reverse; align-items: center;padding: 5px;">
                        <strong class="upvote-count-{{y.replyid}}">{{y.upvote_set.count}}</strong>
                      
                      <i class="fa fa-thumbs-up fa-2x upvote-click" style="cursor: pointer" data-reply = {{y.replyid}}></i>                    
                    </div>
                    <!--Replies Downvote styling-->
                    <div class = "downvote" style="background-color:transparent;display: flex; flex-direction: column-reverse; align-items: center;padding: 5px;">
                      <strong class="downvote-count-{{y.replyid}}">{{y.downvote_set.count}}</strong>
                    
                    <i class="fa fa-thumbs-down fa-2x downvote-click" style="cursor: pointer" data-reply = {{y.replyid}}></i>                    
                  </div>
                </div>
                    </div>
                  
                  
                      {% endfor %}
                  
                  
                      {% endif %}
    
    
                      
                     
                 
                  
                </div>
                <!-- Replies Modal footer with close button-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
            
          </div>
    
        {% endfor %}
      </div>
    
    <!-- Adding Javascript and Ajax for save question, Upvote and Downvote replies with updating their counts dynamically -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"> </script>
    
      <script>    
      /*action on upvote click*/ 
        $(document).ready(function(){          
          $(".upvote-click").on('click',function(){
            var replyid=$(this).data('reply');
            $.ajax({
              url:"/save-upvote",
              type:"post",
              data:{
                replyid:replyid,
                csrfmiddlewaretoken:"{{csrf_token}}"
              },
              dataType:'json',
              success:function(res){
                var _prevupvotes=$(".upvote-count-"+replyid).text();
                var _prevdownvotes=$(".downvote-count-"+replyid).text();
                if(res.bool==true){
                  $(".upvote-count-"+replyid).text(parseInt(_prevupvotes)+1);
                  $(".upvote-count-"+replyid).css("color", "#03a603"); 
                  if(res.other==true){
                    $(".downvote-count-"+replyid).text(parseInt(_prevdownvotes)-1);
                    $(".downvote-count-"+replyid).css("color", ""); 
                  }
                }
                if(res.bool==false){
                  $(".upvote-count-"+replyid).text(parseInt(_prevupvotes)-1);
                  $(".upvote-count-"+replyid).css("color", ""); 
                  $(this).css("color", ""); 
                }
              }
            });          
          });
          /*action on downvote click*/
          $(".downvote-click").on('click',function(){
            var replyid=$(this).data('reply');
            $.ajax({
              url:"/save-downvote",
              type:"post",
              data:{
                replyid:replyid,
                csrfmiddlewaretoken:"{{csrf_token}}"
              },
              dataType:'json',
              success:function(res){
                var _prevdownvotes=$(".downvote-count-"+replyid).text();
                var _prevupvotes=$(".upvote-count-"+replyid).text();
                if(res.bool==true){
                  $(".downvote-count-"+replyid).text(parseInt(_prevdownvotes)+1);
                  $(".downvote-count-"+replyid).css("color", "#ca1919"); 
                  if(res.other==true){
                    $(".upvote-count-"+replyid).text(parseInt(_prevupvotes)-1);
                    $(".upvote-count-"+replyid).css("color", ""); 
                  }
                }
                if(res.bool==false){
                  $(".downvote-count-"+replyid).text(parseInt(_prevdownvotes)-1);
                  $(".downvote-count-"+replyid).css("color", ""); 
                }
              }
            });          
          });
          /*action for like click for question*/
          $(".like-click").on('click',function(){
            var threadid=$(this).data('question');
            $.ajax({
              url:"/save-like",
              type:"post",
              data:{
                threadid:threadid,
                csrfmiddlewaretoken:"{{csrf_token}}"
              },
              dataType:'json',
              success:function(res){
                var _prevlikes=$(".like-count-"+threadid).text();
                var _prevdislikes=$(".dislike-count-"+threadid).text();
                if(res.bool==true){
                  $(".like-count-"+threadid).text(parseInt(_prevlikes)+1);
                  if(res.other==true){
                    $(".dislike-count-"+threadid).text(parseInt(_prevdislikes)-1);
                  }
                }
                if(res.bool==false){
                  $(".like-count-"+threadid).text(parseInt(_prevlikes)-1);
                }
              }
            });          
          });
          /*action for dislike question click*/
          $(".dislike-click").on('click',function(){
            var threadid=$(this).data('question');
            $.ajax({
              url:"/save-dislike",
              type:"post",
              data:{
                threadid:threadid,
                csrfmiddlewaretoken:"{{csrf_token}}"
              },
              dataType:'json',
              success:function(res){
                var _prevdislikes=$(".dislike-count-"+threadid).text();
                var _prevlikes=$(".like-count-"+threadid).text();
                if(res.bool==true){
                  $(".dislike-count-"+threadid).text(parseInt(_prevdislikes)+1);
                  if(res.other==true){
                    $(".like-count-"+threadid).text(parseInt(_prevlikes)-1);
                  }
                }
                if(res.bool==false){
                  $(".dislike-count-"+threadid).text(parseInt(_prevdislikes)-1);
                }
              }
            });          
          });
  
        });
  
      </script>
    
    </body>
    </html>
    
