{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}





<html>
<head>
  <!--linking required bootstrap, jquery, Ajax-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Javascript code for selection for multiselect button-->
<script type="text/javascript">
$(document).ready(function() {
  $('.select2').select2({
  closeOnSelect: false
  });
  });
</script>
<!--Styling for background, display, font-size and Modals for replies-->
  <style>
      div{
          background-color: white;
          
      }

      ::placeholder {
  color: red;
  font-size: 1.5em;
}

textarea{
    font-size: 1.5em;
}

input[type=submit]{
    color:green;
    padding:0.5em 2.2em;
}
   /* mouse over link */
   side-nav-button:hover {
  color: hotpink;
}

/* selected link */
side-nav-button:active {
  color: blue;
}   

  </style>

</head>
<body>




     <div class="row progress" style="height:100vh;;border:1px solid;border-bottom:2px solid ;">
         <div id='menu'class="col-sm-2" style="height:inherit; border-right:4px solid;background-color: black;;">
         <!--Dashboard Profile Imagee and Username display-->
            <div class="row" style="width:100%;height:30%;border:1px solid;margin:0px auto" >
                <img src='/images/{{user.image}}' class="img-fluid" alt='' style=" border-radius: 50%;
                height:80%;
                border:3px solid white;">

                <br/>
               <center> <span style="font-size: 2em;">{{user.first_name}}</span>
               </center>
            
            </div>
             <!--Dashboard fields styling-->
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/"><i class="fa fa-commenting" aria-hidden="true"></i> Discussions</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="" title="This score is calculated based on predefined formula based on upvotes and downvotes received on both questions and comments"><i class="fa fa-star" aria-hidden="true"></i> Score: {{user.score}}</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/findpeople"><i class="fa fa-users" aria-hidden="true"></i> Find people</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/notifications"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/saveditems"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved Items</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/updateprofile"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i> Update Profile</a></div>
            <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(250, 104, 104);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;" href="/logout">Logout</a></div>


       
         </div>
         <div class="col-sm-10" style="height:inherit;;;">
          <!--one time Interests/Hobbies form for Users in Find people Section-->
           <div class="row" style="margin:0px auto;width:90%;height:90%; ;margin-top:40px ;background-color: white; box-shadow:0px 0px 5px 1px #971c1f ;" >
           <center><h3 style="margin:0px auto;padding:0.9em;color:#971c1f;font-size:32px;font-family:Comic Sans MS">SAMVADIKA </h3></center> 

<div class="row" style="width:100%;height:inherit;overflow: scroll;padding:20px;padding-top:0px;margin:0px auto">
<!--scrolling of text in the webpage-->
  <marquee behaviour="scroll" direction="left" style="font-size: large;">This page will let you find people of your interests/hobbies</marquee>
  <!--Form to select multiple hobbies along with social links-->
  <form method='POST' action='Updateinterests'>
  {% csrf_token %}  
  <div class="col-md-6">
    <!--List of hobbies user can select-->
    <div class="form-group"> <label>Select your Hobbies/Interests</label> <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select one or more hobbies" style="width: 100%;" tabindex="-1" aria-hidden="true" name="hobbies_list" id="hobbies_list" required>
      <option>Cricket</option>
      <option>Football</option>
      <option>Chess</option>
      <option>Evening Walk</option>
      <option>Cycling</option>
      <option>Gaming</option>
      <option>Badminton</option>
      <option>Workout</option>  
        </select> 
      </div>
      </div>
      <!--Input for social URL links-->
  <label for="fb-url">Your Facebook Profile URL</label> 
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://www.facebook.com/</span>
  </div>
  <input type="text" class="form-control" name="fb_url" id="fb_url" aria-describedby="basic-addon3" required>
</div>

<label for="fb-url">Your Linkedin Profile URL</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon4">https://www.linkedin.com/in/</span>
  </div>
  <input type="text" class="form-control" name="linkedin_url" id="linkedin_url" aria-describedby="basic-addon3" required>
</div>
<!--Submit/Save button for Interests/hobbies form-->
  <div class="col-mod-3">
    <label for="">Click to Save</label><br>
    <button type="sumbit" name="save_multiple" class="btn btn-primary btn-block">Submit</button>
  </div>
  </form>

              </div>

           </div>
         </div>

         </div>


     </div>
</body>
</html>

{% endblock body %}