{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

  <html>
    <head>

      <!--Linking required bootstrap, jquery, Ajax-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!--Styling for background, display and font-size-->
      <style>
        div{
          background-color: white;   
        }

        ::placeholder {
          color: red;
          font-size: 1.5em;
        }

        textarea{
          font-size: 1.5em;
        }

        input[type=submit]{
          color:green;
          padding:0.5em 2.2em;
        }
        
        /* Mouse over link */
        side-nav-button:hover {
          color: hotpink;
        }

        /* Selected link */
        side-nav-button:active {
          color: blue;
        }   
      </style>
    </head>

    <body>
      <div class="row progress" style="height:100vh;;border:1px solid;border-bottom:2px solid ;">
        <div id='menu'class="col-sm-2" style="height:inherit; border-right:4px solid;background-color: black;">
          
          <!--Dashboard Profile Imagee and Username display-->
          <div class="row" style="width:100%;height:30%;border:1px solid;margin:0px auto" >
            <img src='/images/{{user.image}}' class="img-fluid" alt='' style=" border-radius: 50%;height:80%;border:3px solid white;">
            <br/>
            <center> <span style="font-size: 2em;">{{user.first_name}}</span> </center>              
          </div>

          <!--Dashboard Profile Image and Username display-->
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/"><i class="fa fa-commenting" aria-hidden="true"></i> Discussions</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="" title="This score is calculated based on predefined formula based on upvotes and downvotes received on both questions and comments"><i class="fa fa-star" aria-hidden="true"></i> Score: {{user.score}}</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/findpeople"><i class="fa fa-users" aria-hidden="true"></i> Find people</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/notifications"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/saveditems"><i class="fa fa-bookmark" aria-hidden="true"></i> Saved Items</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(77, 72, 72);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:medium;"href="/updateprofile"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i> Update Profile</a></div>
          <div class="row" style="width:100%;height:10%;border:1px solid;margin:0px auto" ><a style="background-color: rgb(250, 104, 104);color: white;padding: 1em 1.5em;text-decoration: none;text-transform: uppercase;text-align: center; font-size:large;" href="/logout">Logout</a></div>        
        </div>
        <div class="col-sm-10" style="height:100%;background-color:	#FAFAD2;">
          <div class="row" style="height:11%;width:100%;background-color:	#FAFAD2;">
            <center><h1 style="margin:0px auto;padding:0.9em;color:#971c1f;font-family:Comic Sans MS">SAMVADIKA </h1></center> 
          </div>
          <div class="row" style="width:100%;height:89%;overflow: scroll;padding:20px;padding-top:0px;margin:0px auto;background-color:	#FAFAD2;">
            <h2 style="font-size: very-large; text-align: center;">Notifications</p>   

            {% for x in notify %}

              <!-- Displaying each notification -->
              <div class="row" style="width:95%;height:auto;border:2px solid black;text-align: left;margin:0px auto">
                <span style="background-color:#fffffa  ;padding:20px;font-size: 25px;">{{x.message}}  </span>
                <span style="background-color: #d2143a	;color:white;padding:.3em;padding-bottom:0px;border-top:2px solid black;"><h6><strong>{{x.time}}</strong></h6></span>
              </div> 
              <br/>
            {% endfor %}
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock body %}