<!--  extends base.html   -->

{% extends 'base.html' %}

<!--  link the css file to signup.html   -->

{% block head %}<link href="/static/styles.css" rel='stylesheet'>{% endblock head %}
{% block title %}Sign up{% endblock title %}
{% block body %} 

<section class="Form my-4 mx-5">

<!--  container contain the registration form for the new user -->

  <div class="container">

    <div class="row g-0">

<!--  Display image beside the registration form. -->

       <div class="col-lg-5">
        <img src='/static/img3.jpg' class="img-fluid" alt=''>
       </div>

       <div class="col-lg-7 px-5 pt-5">
           <center>
           <h2 class="font-weight-bold pt-5 px-5">Create Account</h2>

<!--  Form for user to register himself after entering his details like email(only LDAP ID), username(which should be uinque), Name, Password.   -->

          <form action="/register" method="post" class='px-5'>
            {% csrf_token %}
<!--  Entry to take username as input  -->

            <div class="form-row">
              <div class="col-lg-7">
                  <input type="text"  name="username" placeholder="Username" class="form-control my-3 p-2" required>
              </div>
            </div>

<!--  Entry to take LDAP ID as input    -->

            <div class="form-row">
                <div class="col-lg-7">
                    <input type="email" title="use your LDAP ID" pattern="^[a-zA-Z0-9]+@iitb\.ac\.in$" name="email" placeholder="Email Address" class="form-control my-3 p-2" required>
                </div>
            </div>

<!--  Entry to take the Name of the user    -->

            <div class="form-row">
                <div class="col-lg-7">
                    <input type="text" placeholder="Name" name='name' class="form-control my-3 p-2" required>
                </div>
            </div>

<!--  Entry to take the Password of the user  -->

            <div class="form-row">
                <div class="col-lg-7">
                    <input type="password" name="password" title="password must have atleast 1 uppercase, 1 lowercase, 1 digit and 1 special(!,@,#,$,%,^,&,*) charcter and length between 6-14" pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,14}" placeholder="Password" class="form-control my-3 p-2" required>
                </div>
            </div>

<!--  Entry to agian take the Password of the user for confirmation.  -->

            <div class="form-row">
                <div class="col-lg-7">
                    <input type="password" name='confirm_password' placeholder="Confirm Password" class="form-control my-3 p-2" required>
                </div>
            </div>

<!--  Button to submit the form.  -->      

            <div class="col-lg-7">
                <input type="submit" class="btn1 mt-3 mb-5" name="signup_submit" value="Signup" />
<!--  Login Link for already registered user   -->

                    <p>Already have an account ? <a href="/login">Login</a></p>
            </div>

          </form>
            </center>

       </div>

    </div>

  </div>

</section>
 
  {% endblock body %}