/* Styling for padding, box, background for Login/Registration Form Entries */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:rgb(219,226,226);
}
.row{
    background-color: white;
    border-radius: 0px;
    box-shadow: 12px 12px 22px grey;
}
/* Styling background, border, font for Button*/
.btn1{
    border: none;
    outline: none;
    height:50px;
    width:100%;
    background-color: rgb(201, 47, 47);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:white;
    border: 1px solid;
    color: black;
}
/* Styling for border, height, text for image*/
img{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100%;
    }    
    a{
        text-decoration: none;
    }   
    form{
        align-content: center;
    }